{% extends 'layout.html' %} {% load static %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'new_proposal/styles.css'%}" />
{% endblock %} {% block content %}

<main>
  <div id="form-container">
    <h1>Ingrese la información del alojamiento, actividad o servicio.</h1>
    <form method="post" enctype="multipart/form-data" id="proposal-form">
      {% csrf_token %} {{ form.as_p}}
      <label for="image-input" class="upload-bottom">
        Subir Imagen
      </label>
      <span id="image-name">Ningún archivo seleccionado</span>

      <button id="submit-btn" type="submit">Enviar</button>
    </form>
  </div>

  {% if messages %}
  <div id="toast" class="toast">
    {% for message in messages %} {{ message }} {% endfor %}
  </div>
  {% endif %}

  <script src="{% static 'new_proposal/scripts.js' %}"></script>
</main>

{% endblock %}
