{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New proposal</title>
    <link rel="stylesheet" href="{% static 'new_proposal/style.css'%}" />
  </head>

  <body>
    <div>
      <h1>Ingrese la información del alojamiento, actividad o servicio.</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p}}
        <button type="submit">Enviar</button>
      </form>
    </div>

    {% if success %}
    <div id="toast" class="toast">¡Propuesta enviada con éxito!</div>
    <script>
      window.onload = function () {
        var toast = document.getElementById("toast");
        toast.classList.add("show");
        setTimeout(function () {
          toast.classList.remove("show");
        }, 3500);
      };
    </script>
    {% endif %}
  </body>
</html>
