Django==4.2.7
django-two-factor-auth==1.15.0
django-axes==6.0.0
django-environ==0.9.0
psycopg2-binary==2.9.10
cryptography==41.0.7
Werkzeug==2.3.7
phonenumbers==9.0.16
django-phonenumber-field==6.4.0
django-multifactor==0.8.4
packaging>=21.3,<25
fido2>=1.1.0,<2.0
pyotp>=2.8.0
