{% extends 'layout.html' %} {% load static %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'my_publications/styles.css'%}" />
{% endblock %} {% block content %}

<main id="my_publications-main">
  <h1>Mis publicaciones y propuestas</h1>
  <div>
    <div id="publications-proposals-buttons">
      <button id="publications-btn">Publicaciones</button>
      <button id="proposals-btn">Propuestas</button>
    </div>

    <h2 id="section-title">Publicaciones</h2>

    <div id="search-add-div">
      <div id="search-bar">
        <input
          type="text"
          id="search-input"
          placeholder="Buscar publicaciones..."
        />
        <button id="search-btn">Buscar</button>
      </div>
      <button id="add-btn">+ Nueva propuesta</button>
    </div>

    <div class="cards-grid">
      {% for publication in publications %}
      <div class="card" data-status="{{ publication.status }}">
        <img
          src="{% static 'my_publications/default.jpg' %}"
          alt="publication img"
        />
        <div class="card-info">
          <h3>Nombre: {{ publication.name }}</h3>
          <p>Descripcion: {{ publication.description }}</p>
          <p>
            Tipo: 
            {% if publication.accommodation_type %}
                {{ publication.accommodation_type }}
            {% elif publication.service_type %}
                {{ publication.service_type }}
            {% elif publication.activity_type %}
                {{ publication.activity_type }}
            {% else %}
                {{ publication.type }}
            {% endif %}
          </p>
          {% if publication.accommodation_type %}
            <p>Localización: {{ publication.location }}</p>
            <p>Disponible desde: {{publication.available_from }}</p>
            <p>Disponible hasta: {{publication.available_to }}</p>
          {% endif %}
          <p>Precio: {{publication.price}}</p>
          <p class="status">
            {% if publication.status != 'Aprobado' %} Estado: {{
            publication.status }} {% endif %}
          </p>
        </div>
      </div>
      {% empty %}
      <p>Aún no has hecho publicaciones o propuestas.</p>
      {% endfor %}
    </div>

    <script src="{% static 'my_publications/scripts.js' %}"></script>
  </div>
</main>
{% endblock %}
