.collections {
  padding: 0rem 8rem 4rem 8rem;
}

.collections h2 {
  font-size: 26px;
  margin-bottom: 1.5rem;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
}
