{% extends 'layout.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'homepage/homepage.css' %}">
<link rel="stylesheet" href="{% static 'css/item_card.css' %}">
{% endblock %}

{% block content %}
<main class="homepage">
  <section class="banner">
    <picture>
      <source media="(max-width: 768px)" srcset="../../../media/banners/banner-bienvenida-movil.png">
      <img src="../../../media/banners/banner-bienvenida.png" alt="banner-bienvenida" class="banner-img">
    </picture>
  </section>

  <section class="welcome">
    <div class="welcome-text">
      <h2>¿Qué buscas hoy?</h2>
      <p>¡Los mejores alojamientos, experiencias y servicios en un mismo lugar!</p>
    </div>

    <div class="welcome-cards">
      {% for card in cards %}
      {% include 'homepage/components/card.html' with image=card.image alt=card.alt title=card.title link=card.link %}
      {% endfor %}
    </div>
  </section>

  {% include 'components/collection_grid.html' with title="Favoritos" items=accommodations %}

  {% include 'components/collection_grid.html' with title="Experiencias cerca de ti" items=experiences %}

  {% include 'components/collection_grid.html' with title="Los mejores servicios" items=services %}

  <section class="opinions">

  </section>
</main>
{% endblock %}
